body {
	background-color: #1b2430;
	color: white;
}

nav {
	display: flex;
	gap: 6px;
	justify-content: center;
}

nav button {
	background-color: rgb(75 85 99);
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 0.75rem;
}

nav button a {
	color: white;
	font-weight: 700;
	font-size: large;
	text-decoration: none;
}

nav button a:hover {
	color: coral;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition: 300ms;
}

main {
	margin: 1rem;
	text-align: center;
}

main img {
	aspect-ratio: 1 / 1;
	border-radius: 8rem;
	margin-top: 1rem;
	width: 250px;
}

main p {
	font-size: larger;
}

#enlaces {
	margin-top: 20px;
	text-align: center;
}

#enlaces a {
	color: whitesmoke;
	padding-bottom: 25px;
	text-decoration: none;
}

#enlaces #github:hover {
	color: #444;
}

#enlaces #linkedin:hover {
	color: #0e76a8;
}

#enlaces a:active {
	transform: translateY(2px);
}
